@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html {
  height: 100%;
  width: 100%;
   font-family: 'Roboto', sans-serif; 
}
.buttom{
  padding: 20px;
  margin: 0px 3px;
  border:  2px solid black;
  border-radius: 46px;
  cursor: pointer;
}
.row{
  margin: 8px 0px;
}
.row input{
  font-size: 23px;
  margin: 0;
  padding: 12px 0px;
   border:  2px solid black;
    border-radius: 6px;
}
